{% macro form_errors(form, hiddens=True) %}
  {%- if form.errors %}
    {%- for fieldname, errors in form.errors.items() %}
      {%- if form[fieldname]|is_hidden_field and hiddens or
             form[fieldname]|is_hidden_field and hiddens != 'only' %}
        {%- for error in errors %}
          <p class="text-danger">{{error}}</p>
        {%- endfor %}
      {%- endif %}
    {%- endfor %}
  {%- endif %}
{%- endmacro %}

{% macro _hz_form_wrap(horizontal_columns, form_type, add_group=False) %}
{% if form_type == "horizontal" %}
  {% if add_group %}<div class="form-group row">{% endif %}
  <div class="col-{{horizontal_columns[0]}}-offset-{{horizontal_columns[1]}}
              col-{{horizontal_columns[0]}}-{{horizontal_columns[2]}}
             ">
{% endif %}
{{caller()}}

{% if form_type == "horizontal" %}
  {% if add_group %}</div>{% endif %}
  </div>
{% endif %}
{% endmacro %}

{% macro form_field(field,
                    form_type="basic",
                    horizontal_columns=('lg', 2, 10),
                    button_map={}) %}
{% if field.widget.input_type == 'checkbox' %}
  {% call _hz_form_wrap(horizontal_columns, form_type, True) %}
    <div class="form-check">
      <label class="form-check-label">
        {{field(class="form-check-input")|safe}} {{field.label.text|safe}}
      </label>
    </div>
  {% endcall %}
{%- elif field.type == 'RadioField' -%}
  {% call _hz_form_wrap(horizontal_columns, form_type, True) %}
    {% for item in field -%}
      <div class="form-check">
        <label class="form-check-label">
          {{item(class="form-check-input")|safe}} {{item.label.text|safe}}
        </label>
      </div>
    {% endfor %}
  {% endcall %}
{%- elif field.type == 'SubmitField' -%}
  {% call _hz_form_wrap(horizontal_columns, form_type, True) %}
    {{field(class='btn btn-%s' % button_map.get(field.name, 'secondary'))}}
  {% endcall %}
{%- elif field.type == 'FormField' -%}
  <fieldset>
    <legend>{{field.label}}</legend>
    {%- for subfield in field %}
      {% if not subfield|is_hidden_field -%}
        {{ form_field(subfield,
                      form_type=form_type,
                      horizontal_columns=horizontal_columns,
                      button_map=button_map) }}
      {%- endif %}
    {%- endfor %}
  </fieldset>
{% else -%}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
      {%- if form_type == "inline" %}
        {{field.label(class="sr-only")|safe}}
        {{field(class="form-control", placeholder=field.description, **kwargs)|safe}}
      {% elif form_type == "horizontal" %}
        {{field.label(class="col-form-label " + (
          " col-%s-%s" % horizontal_columns[0:2]
        ))|safe}}
        <div class="col-{{horizontal_columns[0]}}-{{horizontal_columns[2]}}">
          {{field(class="form-control" + (" is-invalid" if field.errors else ""), **kwargs)|safe}}
        </div>
        {%- if field.errors %}
          {%- for error in field.errors %}
            {% call _hz_form_wrap(horizontal_columns, form_type) %}
              <div class="invalid-feedback d-block">{{error}}</div>
            {% endcall %}
          {%- endfor %}
        {%- elif field.description -%}
          {% call _hz_form_wrap(horizontal_columns, form_type) %}
            <small class="form-text text-muted">{{field.description|safe}}</small>
          {% endcall %}
        {%- endif %}
      {%- else -%}
        {{field.label(class="form-label")|safe}}
        {{field(class="form-control" + (" is-invalid" if field.errors else ""), **kwargs)|safe}}

        {%- if field.errors %}
          {%- for error in field.errors %}
            <div class="invalid-feedback">{{error}}</div>
          {%- endfor %}
        {%- elif field.description -%}
          <small class="form-text text-muted">{{field.description|safe}}</small>
        {%- endif %}
      {%- endif %}
  </div>
{% endif %}
{% endmacro %}

{# valid form types are "basic", "inline" and "horizontal" #}
{% macro quick_form(form,
                    action="",
                    method="post",
                    extra_classes=None,
                    role="form",
                    form_type="basic",
                    horizontal_columns=('lg', 2, 10),
                    enctype=None,
                    button_map={},
                    field_order=None) %}
<form
  {%- if action %} action="{{action}}"{% endif -%}
  {%- if method %} method="{{method}}"{% endif %}
  class="
    {%- if extra_classes %}{{extra_classes}}{% endif -%}
    {%- if form_type == "inline" %} form-inline{% endif -%}
  "
  {%- if enctype %} enctype="{{enctype}}"{% endif -%}
  {%- if role %} role="{{role}}"{% endif -%}
  >
  {{ form.hidden_tag() }}
  {{ form_errors(form, hiddens='only') }}

  {%- for field in form|sort_fields(field_names=field_order or []) %}
    {% if not field|is_hidden_field -%}
      {{ form_field(field,
                    form_type=form_type,
                    horizontal_columns=horizontal_columns,
                    button_map=button_map,
                    **kwargs.get(field.name, {})) }}
    {%- endif %}
  {%- endfor %}

</form>
{%- endmacro %}
