repos:
  - repo: https://github.com/Diaoul/pre-commit-hooks-poetry
    rev: 0.3.0
    hooks:
      - id: poetry-export

  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        # language_version: python3.7

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8

  - repo: https://github.com/timothycrosley/isort
    rev: 4.3.21-2
    hooks:
      - id: isort
        additional_dependencies:
          - toml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
