---
version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: spkrepo
      POSTGRES_USER: spkrepo
      POSTGRES_PASSWORD: spkrepo
    ports:
      - 5432:5432
  app:
    build: .
    image: ghcr.io/synocommunity/spkrepo:v0.3.2
    command: flask run -h 0.0.0.0
    ports:
      - 5000:5000
    environment:
      SPKREPO_SQLALCHEMY_DATABASE_URI: postgresql://spkrepo:spkrepo@db/spkrepo
    volumes:
      - .:/usr/src/app/
    depends_on:
      - db
