# -*- coding: utf-8 -*-
DEBUG = {{ pillar['debug'] }}
TESTING = {{ pillar['testing'] }}
SECRET_KEY = '{{ pillar['secret_key'] }}'

# Application
{% if pillar['server_name'] != 'localhost' %}
SERVER_NAME = '{{ pillar['server_name'] }}'
{% endif %}
DATA_PATH = '{{ pillar['data_path'] }}'
TEMPLATE_PATH = '{{ pillar['template_path'] }}'
GNUPG_PATH = '{{ pillar['gnupg_path'] }}'
GNUPG_FINGERPRINT = '{{ pillar['gnupg_fingerprint'] }}'

# Security
SECURITY_PASSWORD_HASH = '{{ pillar['password_hash'] }}'
SECURITY_PASSWORD_SALT = '{{ pillar['password_salt'] }}'
SECURITY_EMAIL_SENDER = 'no-reply@{{ pillar['server_name'] }}'
SECURITY_CONFIRM_SALT = '{{ pillar['confirm_salt'] }}'
SECURITY_RESET_SALT = '{{ pillar['reset_salt'] }}'
SECURITY_LOGIN_SALT = '{{ pillar['login_salt'] }}'
SECURITY_REMEMBER_SALT = '{{ pillar['remember_salt'] }}'

# SQLAlchemy
SQLALCHEMY_ECHO = False
SQLALCHEMY_DATABASE_URI = '{{ pillar['database']['type'] }}://{{ pillar['database']['user'] }}:{{ pillar['database']['password'] }}@localhost/{{ pillar['database']['name'] }}'

# Cache
CACHE_NO_NULL_WARNING = {{ pillar['debug'] or pillar['testing'] }}
CACHE_TYPE = '{{ pillar['cache']['type'] }}'
{% if pillar['cache']['type'] == 'redis' -%}
CACHE_REDIS_HOST = 'localhost'
CACHE_REDIS_DB = '{{ pillar['cache']['redis']['db'] }}'
{%- endif %}
