{% extends 'layout.html' %}
{% block title %}{{ package.versions[-1].displaynames['enu'].displayname }} Package - {{ super() }}{% endblock %}
{% block content %}
<div class="row">
  <div class="d-flex">
    <div class="flex-shrink-0 mr-3">
      <img src="{{ url_for('nas.data', path=package.versions[-1].icons['72'].path) }}" alt="Icon">
    </div>
    <div class="flex-grow-1">
      <h1>{{ package.versions[-1].displaynames['enu'].displayname }}
        <small class="text-muted">v{{ package.versions[-1].version_string }}</small>
      </h1>
      <p>{{ package.versions[-1].builds[0].descriptions['enu'].description }}</p>
      <div class="package-screenshots">
        {% for screenshot in package.screenshots %}
        <img class="package-screenshot" src="{{ url_for('nas.data', path=screenshot.path) }}"/>&nbsp;
        {% endfor %}
      </div>
      {% for version in package.versions|reverse %}
      <dl>
        <dt>Version {{ version.version_string | safe }}{% if version.report_url %} <span class="badge badge-danger">beta</span>{% endif %}</dt>
        <dd>{{ version.builds[0].changelog | safe }}</dd>
        <dt>Date</dt>
        <dd>{{ version.insert_date.replace(microsecond=0) }}</dd>
        <dt>Architectures</dt>
        <dd>
        {% for (dsm_version, builds) in version.builds_per_dsm.items() %}
          {% if dsm_version == '1' %}
            SRM {{ dsm_version }}.x:
          {% else %}
            DSM {{ dsm_version }}.x:
          {% endif %}
          {% for build in builds %}
            {% if build.active %}
              {% for arch in build.architectures %}
              <a href="{{ url_for('nas.data', path=build.path) }}"><span class="badge badge-success">{{ build.firmware_min.version }}{% if build.firmware_max %}-{{ build.firmware_max.version }}{% endif %} {{ arch.code }}</span></a>
              {% endfor %}
            {% else %}
              {% for arch in build.architectures %}
              <a href="{{ url_for('nas.data', path=build.path) }}"><span class="badge badge-secondary" data-toggle="tooltip" title="Inactive: Manual installation only. This Package might be under development and have pending issues.">{{ build.firmware_min.version }}{% if build.firmware_max %}-{{ build.firmware_max.version }}{% endif %} {{ arch.code }}</span></a>
              {% endfor %}
            {% endif %}
          {% endfor %}
          <br/>
        {% endfor %}
        </dd>
      </dl>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}
